:root {
    --brand-dim-gray-color: #e6dfd8;
}

.valori-single-item.vantaggi p {
    font-size: 29px;
    line-height: 35px;

}

.brand-dim-gray {
    background-color: var(--brand-dim-gray-color);
}

.height-hundred-percent {
    height: 100%;
}

.has-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.height-eight-nighty {
    min-height: 890px;
}

/* First section / circle slider  */
.operiamo-cirle-single-item.first {
    background-image: url(../images/Operiamo/operiamo-circle-slider-bg.png);
    background-position: left center;
}

.operiamo-circle-slider .operiamo-cirle-single-item .box-wrap {
    height: 780px;
    width: 780px;
    background: #c51d69;
    border-radius: 50%;
}

.operiamo-cirle-single-item.second h2 {
    font-size: 76px;
    font-family: 'Roboto';
    font-weight: 300;
}

.operiamo-cirle-single-item.second p {
    font-size: 29px;
    font-family: 'IBM Plex Sans';
}

.operiamo-circle-slider {
    display: grid;
    grid-template-columns: 50% 50%;
}

.operiamo-cirle-single-item.first {
    display: flex;
    justify-content: end;
    align-items: center;
}

.operiamo-cirle-single-item .box-wrap {
    position: relative;
}

.operiamo-cirle-single-item .box-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -75px;
}

.operiamo-cirle-single-item.second {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
}

.operiamo-cirle-single-item.second>* {
    width: 50%;
    margin-left: 25%;
}


/* first section | slider bottom area  */

section.header-slider-bottom-area .single-slider-bottom-item p {
    font-size: 23px;
    font-family: 'Roboto';
}

section.header-slider-bottom-area .single-slider-bottom-item.plain-text p {
    font-size: 16px;
    font-family: 'IBM Plex Sans';
}

section.header-slider-bottom-area .single-slider-bottom-item.plain-text {
    display: flex;
    min-height: 100%;
    align-items: end;
}

section.header-slider-bottom-area .single-slider-bottom-item h2 {
    font-size: 55px;
    font-weight: 300;
    margin-top: 20px;
    font-family: 'IBM Plex Sans';

}

section.header-slider-bottom-area .single-slider-bottom-item h2 span {
    font-weight: 700;
}


/* Workflow  */

.operiamo-wrokflow .single-operiamo-item h4,
.operiamo-wrokflow .single-operiamo-item h2 {
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: 400;
}

.operiamo-wrokflow .operiamo-heading-two {
    font-size: 75px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 70px;
}


.operiamo-wrokflow .operiamo-heading-two span {
    display: block;
    color: var(--brand-red);
}

.operiamo-wrokflow .single-operiamo-item ul {
    margin-top: 20px;
}

.operiamo-wrokflow .single-operiamo-item ul li {
    list-style: none;
    position: relative;
    padding-left: 50px;
    font-family: 'Roboto';
    margin-bottom: 20px;
}

.operiamo-wrokflow .single-operiamo-item.first {
    background: #f5f1ed;
}

.operiamo-wrokflow .single-operiamo-item.second {
    background: #dbdddb;
}

.operiamo-wrokflow .single-operiamo-item {
    padding: 100px 20px 30px 20px;
}

.operiamo-wrokflow .single-operiamo-item ul li .number {
    position: absolute;
    left: 0;
    border: 1px solid;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    top: -3px;
}

.lesixp-list-item-section.operiamo {
    background-image: url(../images/Operiamo/operiamo-eye-bg.png);
}

/* divisioni section  */
section.divisioni .section-title h2 {
    font-size: 55px;
    text-transform: uppercase;
    padding-bottom: 60px;
    font-family: 'Roboto';
    font-weight: 300;
}

section.divisioni .section-title h2 span {
    display: block;
    color: var(--brand-red);
}

.divisioni-single-desc-item {
    font-family: var(--brand-font);
}

.divisioni-single-desc-item.left p {
    font-size: 23px;
}

.divisioni-description {
    margin-bottom: 30px;
}

.divisioni-gallery {
    padding: 30px 0;
}

.divisioni-gallery .divisioni-text-wrap ul {
    padding: 90px 185px;
}

.divisioni-gallery .divisioni-text-wrap {
    position: relative;
    background-image: url(../images/Operiamo/divisioni-bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: 99;
    min-height: 1060px;
    transition: .5s ease-in-out;
}

.divisioni-gallery .divisioni-text-wrap.first {
    background-image: url(https://images.unsplash.com/photo-1675047373408-2d64c81c0da6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80);
}

.divisioni-gallery .divisioni-text-wrap.second {
    background-image: url(https://images.unsplash.com/photo-1516937941344-00b4e0337589?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}

.divisioni-gallery .divisioni-text-wrap.third {
    background-image: url(https://images.unsplash.com/photo-1588011930968-eadac80e6a5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);
}

.divisioni-gallery .divisioni-text-wrap.fourth {
    background-image: url(https://images.unsplash.com/photo-1496247749665-49cf5b1022e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80);
}

.divisioni-gallery .divisioni-text-wrap.fifth {
    background-image: url(https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}

.divisioni-gallery .divisioni-text-wrap.sixth {
    background-image: url(https://images.unsplash.com/photo-1618090584176-7132b9911657?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80);
}


.divisioni-gallery .divisioni-text-wrap ul li {
    list-style: none;
    font-size: 40px;
    font-family: var(--brand-font-family);
    font-weight: 300;
    margin-bottom: 30px;
    width: max-content;
    color: #fff;
}

.divisioni-gallery .divisioni-text-wrap ul li p {
    font-family: var(--brand-font-family);
    width: 600px;
    font-weight: 200;
    padding-left: 120px;
    margin-top: 25px;
    transform: scaleY(0);
    transform-origin: top;
    transition: .5s;
    height: 0;
    color: #fff;
}

.divisioni-gallery .divisioni-text-wrap ul li span {
    position: relative;
}

.divisioni-gallery .divisioni-text-wrap ul li:hover>p {
    height: auto;
    transform: scaleY(1);
}

.divisioni-gallery .divisioni-text-wrap ul li span:after {
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--brand-red);
    bottom: 0;
    left: 0;
    opacity: 0;
}

.divisioni-gallery .divisioni-text-wrap ul li:hover>span:after {
    opacity: 1;
}

.divisioni-gallery .divisioni-text-wrap ul li:hover {
    font-weight: 500;
}

.divisioni-gallery .divisioni-text-wrap:after {
    content: '';
    background: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .4;
    z-index: -1;
}